body {
    margin: 0;
    padding: 0;

}

.flex-container {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
}

#header {
    background-color: #1F2937;
    flex-direction: row;
    padding-top: 2%;
}
#header div {
    flex: 1;
}

#header-logo {
    color: #F9FAF8;
    font-size: 24px;

}

#header-links {
    color: #E5E7EB;
    font-size: 18px;
    text-align: right;
}

#header-links a {
    margin-right: 10px;
}

#first-section {
    background-color: #1F2937;
    flex-direction: row;
}

#first-section div {
    flex: 1;
}

#hero {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

#hero * {
    margin: 0;
    margin-bottom: 0.5rem;
}

#hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

#hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.sign-up-button {
    background-color: #3882f6;
    display: inline;
    color: #F9FAF8;
    font-size: small;
    text-align: center;
    border-color: transparent;
    padding: 1%;
    width: 6rem;
    border-radius: 5px;
}

#image-placeholder-large {
    color: #F9FAF8;
    background-color: gray;
    text-align: center;
    width: 5rem;
    height: 13rem;
    margin-top: 7rem;

}

#image-placeholder-large p {
    margin-top: 6rem;
}

#second-section {
    padding-top: 2rem;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
}

#second-section div {
    flex:1
}

#random-information {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

#informations {
    flex-direction: row;
    padding-top: 2rem;
}

#informations  div {
    display: flex;
    flex-direction: column;
    padding: 0 1.3rem
    
}

#informations div p {
    text-align: center;
}


.image-placeholder-small {
    min-height: 140px;
    min-width: 100px;
    border:solid;
    border-color: #3882f6;
    border-width: 3px;
    border-radius: 10%;
}

#third-section {
    background-color: #E5E7EB;
    padding: 5% 22%;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#quote-text {
    text-align: left;
    font-weight: 300;
    margin-bottom: 0;
}

#quote-by {
    margin-top: 0;
    font-size: 30px;
    text-align: right;
    font-weight: bold;
}

#fourth-section {
    padding: 5% 18%;
}

#blue-card {
    flex-direction: row;
    border-radius: 10px;
    background-color: #3882F6;
    padding: 2rem 5rem;
}

#call-to-action p {
    margin:0;
    color: #F9FAF8;
    font-size: 18px;
}
#call-to-action :first-child {
    font-weight: bold;
}
#blue-card-button {
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#button-on-card {
    border-color: white;
    padding: 7px;
}

#footer {
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    padding: 2rem;

}